<% @movies_to_approve.each do |movie| %>
  <p><%= movie.title%></p>
        <a href="/movies/<%= movie.id %>"><img src="https://image.tmdb.org/t/p/w500/<%= movie.photo_path %>" width="200px" height="300px" style="width:40%" class="img-responsive" alt="Image"></a>
<%= button_to "Approve", {:controller => "movies", :action => "update", :approved => true, :id => movie.id}, :method => :patch %>
<%= button_to "Delete", {:controller => "movies", :action => "destroy", :id => movie.id}, :method => :delete %>
<% end %>

<!-- button changes approved: true -->

