<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="/movies/<%= @featured[0].id %>"><img src="https://image.tmdb.org/t/p/w500/<%= @featured[0].photo_path%>" alt="Image"></a>
        <!-- <img src="http://placehold.it/200x300?text=IMAGE" alt="Image"> -->
        <div class="carousel-caption">
          <h3><%= @featured[0].title %></h3>
          <p><%= @featured[0].tagline %></p>
        </div>
      </div>

      <div class="item">
        <a href="/movies/<%= @featured[1].id %>"><img src="https://image.tmdb.org/t/p/w500/<%=@featured[1].photo_path%>" alt="Image"></a>
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Trending Movies</h3><br>
  <div class="row">

    <% @trending.each do |mov| %>
      <div class="col-sm-3">
        <p><%= mov.title%></p>
        <a href="/movies/<%= mov.id %>"><img src="https://image.tmdb.org/t/p/w500/<%= mov.photo_path %>" width="200px" height="300px" style="width:100%" class="img-responsive" alt="Image"></a>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Top Movies</h3><br>
  <div class="row">

    <% for i in 0..3  %>
      <div class="col-sm-3">
        <p>Some text..</p>
        <a href="/movies/<%= @movies[i].id %>"><img src="https://image.tmdb.org/t/p/w500/<%=@movies[i].photo_path%>" width="200px" height="300px" style="width:100%" class="img-responsive" alt="Image"></a>
      </div>
    <% end %>

  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <h3><%= @genre.join('') %></h3><br>
  <div class="row">
  <% for i in 0..3 %>
    <div class="col-sm-3">
      <p>Some text..</p>
      <a href="/movies/<%= @random_genre1[i].id %>"><img src="https://image.tmdb.org/t/p/w500/<%=@random_genre1[i].photo_path%>" width="200px" height="300px" style="width:100%" class="img-responsive" alt="Image"></a>
    </div>
  <% end %>

  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <h3><%= @genre2.join('') %></h3><br>
  <div class="row">
  <% for i in 0..3 %>
    <div class="col-sm-3">
      <p>Some text..</p>
      <a href="/movies/<%= @random_genre2[i].id %>"><img src="https://image.tmdb.org/t/p/w500/<%=@random_genre2[i].photo_path%>" width="200px" height="300px" style="width:100%" class="img-responsive" alt="Image"></a>
    </div>
  <% end %>

  </div>
</div>




<br>
