<div class="container text-center">

  <br>
  <div class="row">
    <div class=" col-sm-4 ">
      <img src="http://placehold.it/500x750?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <h3 class="text-center">Movie Title</h3>
    </div>
    <div class="col-sm-8">
      <div class="text-left">
        <h3>Hot Pototatoe or Snot Potatoe?</h3>
        <ul>
          <li>Number of Users Favorited:</li>
          <li>Number of Reviews:</li>
          <li>Average Rating:
          <!-- Insert logic here -->
          </li>
        </ul>
        <h3>Movie Details</h3>
        <ul>
          <li>:</li>
          <li>Number of Reviews:</li>
          <li>Average Rating:
          <!-- Insert logic here -->
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>



  <div class="row well">
    <div class=" col-sm-2">
      <h3 class="text-center">Reviews</h3>
    </div>
    <div class=" col-sm-10 ">
      <h3 class="text-center">Reviews</h3>
    </div>
    <div class=" col-sm-2">
      <h3 class="text-center">Reviews</h3>
    </div>
  </div>

<h1>Movie Show Page</h1>

<div id="movie-info">
  <ul>
    <li><%=@movie.title%></li>
    <li><%=@movie.tagline%></li>
    <li><%=@movie.overview%></li>
    <li><%=@movie.release_date%></li>
    <li><%=@movie.genre%></li>
    <li><%=@movie.runtime%></li>
    <li><img src="https://image.tmdb.org/t/p/w500/<%=@movie.photo_path%>"></li>
  </ul>
</div>
