<div class="container text-center">

  <br>
  <div class="row">
    <div class=" col-sm-4 ">
      <img src="https://image.tmdb.org/t/p/w500/<%=@movie.photo_path%>" class="img-responsive" style="width:100%" alt="Image">
      <h4><%=@movie.tagline%></h4>
    </div>
    <div class="col-sm-8">
      <div class="text-left">
        <h1 class="text-center"><%= @movie.title%></h1>
        <h3>Hot Pototatoe or Snot Potatoe?</h3>
        <ul>
          <li>Number of Users Favorited: <%= @movie.favorites.count %></li>
          <li>
          <% if in_favorites?(current_user, @movie.id) %>
            <%= button_to "Unfavorite", {:controller => "favorites", :action => "destroy", :movie_id => @movie.id, :user => current_user}, :method=>:delete %>
          <% else %>
            <%= button_to "Favorite", {:controller => "favorites", :action => "create", :movie_id => @movie.id, :user => current_user}, :method=>:post %>
          <% end %>
          </li>
          <li>Number of Reviews: <%= @movie.reviews.count %> </li>
          <li>Average Rating:
          <!-- Insert logic here -->
          </li>
        </ul>
        <h3>Movie Details</h3>
        <ul>
          <li><%=@movie.overview%></li>
          <li>Release Date: <%=@movie.release_date%></li>
          <li>Genre: <%=@movie.genre%></li>
          <li>Runtime: <%=@movie.runtime%></li>
        </ul>
      </div>
    </div>
  </div>


</div>
<hr>
<div class="container text-center">

  <div class="row">
    <!-- <div class="col-sm-2">
      <h3 class="text-center"></h3>
    </div> -->
    <div class="well col-sm-12 ">
      <h3 class="text-center">Reviews</h3>
      <%= render partial: 'reviews/new' %>
      <ul class="text-left">
        <% @movie.reviews.each do |review| %>
        <li><%= render partial: 'reviews/show', locals: {review: review, movie: @movie} %></li>
        <% end %>
      </ul>
    </div>
    <!-- <div class=" col-sm-2">
      <h3 class="text-center"></h3>
    </div> -->
  </div>
