
<div class="container text-center">

  <br>
  <div class="row">

    <div class=" col-sm-4 ">
      <img src="https://image.tmdb.org/t/p/w500/<%=@movie.photo_path%>" class="img-responsive" style="width:100%" alt="Image">
      <h4><%=@movie.tagline%></h4>
    </div>

    <div class="col-sm-8">
      <div class="text-left">
        <h1 class="text-center"><%= @movie.title%></h1>
        <h3>Hot Potato or Snot Potato?</h3>
        <ul>

          <li><span class='label'>Favorited By:</span><%=@movie.favorites.length%> users</li>

          <!-- logic for if a movie is favorited by user -->
          <li>
            <% if in_favorites?(@movie.id) %>
              <%= button_to "💔 Unfavorite", {:controller => "favorites", :action => "destroy", :movie_id => @movie.id, :user => current_user}, :method=>:delete, :class =>'fav' %>
            <% else %>
              <%= button_to "💖 Favorite", {:controller => "favorites", :action => "create", :movie_id => @movie.id, :user => current_user}, :method=>:post, :class =>'fav' %>
            <% end %>
          </li>

          <!-- average_rating logic -->
          <li><span class='label'>Average Rating:</span><%=@movie.average_rating%>
            <% @movie.average_rating.times do %>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <% end %>

          <li><span class='label'>Number of Reviews:</span><%=@movie.reviews.length%></li>
        </ul>


        <h3>Movie Details</h3>
        <ul>
          <li>"<%=@movie.overview%>"</li><br>
          <li><span class='label'>Release Date:</span><%= calc_date(@movie.release_date) %></li>
          <li><span class='label'>Genre:</span><%=@movie.genre%></li>
          <li><span class='label'>Runtime:</span><%=@movie.runtime%> minutes</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container text-center">
  <div class="row">
    <div class="well col-sm-12 ">
      <h3 class="text-center">Reviews</h3>
      <%= render partial: 'reviews/new' %>
      <ul class="text-left">
        <% @movie.reviews.each do |review| %>
          <% unless review.comment.nil? || review.comment.empty? %>
            <li><%= render partial: 'reviews/show', locals: {review: review, movie: @movie} %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
