<div class="user-form">
	<%= form_for :user, url: users_path do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign up" %>

	<% end %>
</div>