<div class="container-fluid bg-3 text-center">
  <h3>Favorites</h3><br>

  <div class="row">
    <% @user.favorites.each do |fav| %>
      <div class="col-sm-3">
        <p><%= fav.movie.title %></p>
        <img class="favorites" src="https://image.tmdb.org/t/p/w500/<%=fav.movie.photo_path%>">
      </div>
    <% end %>
  </div><br>

  <h3>Reviewed</h3><br>

  <div class="container-fluid bg-3 text-center">
    <%= @user.reviews.each do |rev| %>
      <div class="col-sm-3">
        <p><%= rev.movie.title %></p>
        <img src="https://image.tmdb.org/t/p/w500/<%=fav.movie.photo_path%>">
      </div>
    <% end %>
  </div><br>
