<%= form_for :review, url: movie_reviews_path(@movie), method: :post do |f| %>

    <% if @errors %>
     <div>
       <h2>
         <%= pluralize(@errors.count, "error") %> prohibited
         this error from being saved:
       </h2>
       <ul>
         <% @errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
    <%= radio_button_tag(:rating, 1) %>
    <%= label_tag(1) %>
    <%= radio_button_tag(:rating, 2) %>
    <%= label_tag(2) %>
    <%= radio_button_tag(:rating, 3) %>
    <%= label_tag(3) %>
    <%= radio_button_tag(:rating, 4) %>
    <%= label_tag(4) %>
    <%= radio_button_tag(:rating, 5) %>
    <%= label_tag(5) %>
    <%= radio_button_tag(:rating, 6) %>
    <%= label_tag(6) %>
    <%= radio_button_tag(:rating, 7) %>
    <%= label_tag(7) %>
    <%= radio_button_tag(:rating, 8) %>
    <%= label_tag(8) %>
    <%= radio_button_tag(:rating, 9) %>
    <%= label_tag(9) %>
    <%= radio_button_tag(:rating, 10) %>
    <%= label_tag(10) %>
    <br>
    <%=f.text_area :comment %>
    <br>
    <%=f.submit "Review!" %>
<% end %>



