<!DOCTYPE html>
<html>
<head>
  <title>TeamRocktopusSnotNPotatoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Bootstrap header -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <% if logged_in? %>

          <li><a href="#">Profile</a></li>

          <% end %>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><span class="glyphicon glyphicon-log-out"></span><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% else %>
          <li><span class="glyphicon glyphicon-log-in"><%= link_to 'Login',  login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
